.profit-lisiting {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #2f5b69 0, #47889e 100%);
  padding: 5px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.profit-btn {
  background: #e2a521;
  color: #000;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
  border: transparent;
}
.select-game {
  width: 20%;
  height: 34px;
}
.profit-loss-input {
  width: 15%;
  height: 34px;
}
.filter-btn {
  background: #f7c200;

  padding: 7px 10px;
  border: solid 1px #f7c200;
  text-decoration: none;
  border-radius: 3px;
  color: #000;
}
.select-date {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
