.my-mart-div {
  margin-left: 31rem;
  width: 100%;
  margin: 1rem;
  background: linear-gradient(to right, #2f5b69 0, #47889e 100%);
  padding: 5px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.my-market-main {
  margin-left: 18rem;
}
.no-reacod-div {
  margin-left: 1rem;
  margin-top: -1rem;
  padding: 3px 5px;
  border: 0.5px solid #ff0000;
  line-height: 25px;
  font-weight: 700;
  background: #045f5f;
}
@media (max-width: 900px) {
  .my-market-main {
    margin-left: 0;
  }
  .my-mart-div {
    width: 92%;
  }
  .no-reacod-div {
    width: 92%;
  }
}
