.navbar-main {
  padding: 10px;
  background: #045f5f;
  display: flex;
  justify-content: space-between;
}
.nav-marquee {
  width: 35rem;
  color: #000;
  float: left;
  padding: 5px 20px 5px 45px;
  font-weight: 500;
  font-size: 12px;
  margin: 13px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border: solid 2px #e2a521;
  background: #e2a500;
  position: relative;
}
.mobile-nav-marquee {
  display: none;
}
.nav-bell-icon {
  border-radius: 14px;
  position: absolute;
  background-color: white;
  top: 30px;
  width: 3rem;
  margin-left: -25.7rem;
}
.bell-icon {
  margin-left: 6px;
  width: 32px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-menu > ul {
  display: flex;
  height: 35px;
  align-items: center;
  background: #000;
  gap: 20px;
}

.nav-menu > ul > li {
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.nav-menu > ul > li:hover {
  background: white;
  color: #000;
  height: 30px;
}
.android-logo {
  color: white;
  font-size: 25px;
  margin-right: 3rem;
}

#hidden {
  display: none;
}
#visible:hover #hidden {
  display: block;
}
.link-css {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 5px;
}
.link-css:hover {
  color: black;
}
.hamburger-menu {
  display: none;
}

.submenu {
  position: absolute;
  width: 180px;
  background-color: #ffffff;
  box-shadow: 0 20px 45px #00000020;

  /* opacity: 0; */
  z-index: -999;
  transition: all 0.15s ease;
}
.nav-menu ul li :hover .submenu {
  z-index: 99;
  opacity: 1;
  margin-top: 0;
}
.nav-menu ul .submenu li {
  list-style: none;
  margin: 0;
  width: 100%;
}
.nav-menu ul .submenu li :hover {
  color: #e2a500;
}
.nav-menu ul .submenu li span {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100%;
  color: #000;
  font-weight: 500;
  /* border-bottom: 1px solid #454545; */
}
.btn-success {
  color: #fff;
  background-color: transparent;
  border: none;
}
.btn {
  line-height: 0.5;
  padding: 0.375rem 0.1rem;
}

@media (max-width: 900px) {
  .submenu {
    display: block;

    position: inherit;
    width: 100%;
    margin: 0 !important;
    background-color: #045f5f;
  }
  .rupee-logo {
    display: none;
  }

  .nav-marquee {
    display: none;
  }
  .hamburger-menu {
    display: block;
    background: transparent;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu-mobile {
    z-index: 2;
    position: absolute;
    display: block;
    list-style: none;
    background: #045f5f;
    left: 0;
    top: 65px;
    transition: all 0.5s ease-out;
    width: 200px;
    height: 100vh;
  }
  .hamburger-menu {
    display: block;
    position: absolute;
    font-size: 20px;
    margin-right: 2rem;
    border: none;
    outline: none;
  }
  .vanky-logo {
    width: 75px;
    margin-left: 2rem;
  }

  .navbar-right {
    gap: 6px;
  }
  .nav-menu-mobile > ul > li {
    margin-top: 20px;
    list-style-type: none;
    color: white;
  }
  .nav-menu-mobile > ul > li:hover {
    color: #000;
    background: white;
  }
  .slider-main-div {
    margin-top: 0rem;
  }
  .mobile-nav-marquee {
    display: block;
    background: white;
  }
  .carousel-inner {
    height: 150px;
  }
}
.language {
  color: #fff;
  background-color: #5cb85c;
  border: none;
  border: 1px solid black;
  margin: 2px;
}
.modal-header {
  background: #204e57;
  text-align: center;
  color: #fcce34;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-footer {
  background: #204e57;

  justify-content: center;
}
.btn-secondary {
  border: none;
  background: #204e57;
  color: #fcce34;
}
.modal-dialog {
  max-width: 620px;
}
