.password-main {
  width: 550px;
  height: 300px;
  margin-left: 50rem;
  background-color: transparent;
  border: 3px solid #007bff;
  margin-top: 5rem;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.tree-img {
  width: 15rem;
}
.oldpass-input,
.Newpass-input,
.retypepass-input {
  width: 30rem;
  border: 2px solid #007bff;
  margin-top: 1rem;
  outline: none;
}
.pass-submit {
  font-size: 18px;
  height: 44px;
  width: 30rem;
  border: 2px solid #007bff;
  color: #fff;
  background-color: #5cb85c;
  margin-top: 1rem;
}
@media (max-width: 900px) {
  .password-main {
    margin-left: 9px;
  }
  .pass-submit {
    width: 19rem;
  }
  .password-main {
    width: 95%;
  }
  .oldpass-input, .Newpass-input, .retypepass-input {
    width: 19rem}
}
