.rightbar-main {

  width: 36%;
  margin-left: 2rem;
}
.accordion-button {
  margin: 0px;
  background: linear-gradient(90deg, #ffc21d 0, rgba(255, 255, 255, 0) 100%);
  color: #212529;
  padding: 10px;
  font-size: 15px;
  position: relative;
}
.accordion-item {
  background: transparent;
}
.accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

@media (max-width: 900px) {
  .rightbar-main {
    display: none;
  }
}
